.link-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black, #208F96);
    width: 100%;
    height: 50vh;
    gap: 6rem;
    color: white;
}

.link-block a{
    font-size: 1rem;
}

.svg_icon_styling{
    height: 3rem;
    width: 3rem;
}

.footer_btns{
    width: 3.3rem;
    height: 3.3rem;
    background-color: inherit;
    cursor: pointer;
}

.link-block a{
    font-size: 2rem;
}

@media only screen and (max-width: 1024px){
    .link-block a {
        font-size: 1.9rem;
    }
}


@media only screen and (max-width: 768px) {
    .link-block{
        flex-direction: column;
        gap: 2rem;
    }

    .link-block a{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 450px) {
    .link-block{
        display:flex;
        flex-direction: column;
        gap: 3rem;
    }

    .link-block a{
        font-size: 1rem;
    }
}