<header class="hero-section">
    <picture class="hero-image">
        <source srcset="assets/images/headerImg/pexels-damodigital-1310044.webp" type="image/webp">
        <source srcset="assets/images/headerImg/pexels-damodigital-1310044.png" type="image/png">
        <source srcset="assets/images/headerImg/pexels-damodigital-1310044.jpg" type="image/jpg">
        <img src="assets/images/headerImg/pexels-damodigital-1310044.jpg" alt="waves crashing into beach sand">
    </picture>
    <div class="hero-content flex flex-col">
       <strong class="relative justify-center z-10 ml-12 mt-20 tablet_view_lg:ml-20">
            <span class="block text-5xl font-thin text-white mt-4 tablet_view_md:text-[4.5rem] tablet_view_lg:text-[5.6rem] mobile_view_sm:mt-0 desktop_view_sm:text-[4.6rem] desktop_view_lg:text-[3.5rem]">Made by</span>
            <span class="inline-block text-5xl font-thin text-white mb-4 border-b-8 border-primary-color tablet_view_md:text-[4.5rem] tablet_view_lg:text-[5.6rem] desktop_view_sm:text-[4.6rem] desktop_view_lg:text-[3.5rem]">the Earth</span> 
            <span class="block text-5xl font-thin text-white mt-4 tablet_view_md:text-[4.5rem] tablet_view_lg:text-[5.6rem] desktop_view_sm:text-[4.6rem] desktop_view:text-[3.5rem] desktop_view_lg:text-[3.5rem]">Made for</span>
            <span class="inline-block text-5xl font-thin text-white mb-4 border-b-8 border-primary-color tablet_view_md:text-[4.5rem] tablet_view_lg:text-[5.6rem] desktop_view_sm:text-[4.6rem] desktop_view_lg:text-[3.5rem]">Us</span>
       </strong>
       <span class="z-10 flex justify-center text-[3.1rem] text-white my-6 tablet_view_lg:my-20 font-serif tablet_view:text-[4rem] tablet_view_lg:text-[5.3rem] tablet_view_md:my-[8rem] tablet_view_md:text-[5.5rem] tablet_view_lg:-mt-[11rem] desktop_view_sm:-mt-[2rem] desktop_view_lg:text-[5rem] desktop_view_lg:-mt-[4rem] desktop_view_lg:text-[3rem] desktop_view_sm:mb-[2rem]">
            Nature Renew
       </span>
       <h2 class="text-white mx-auto z-10 text-2xl tablet_view:text-3xl tablet_view:mb-10 tablet_view_md:text-[2.5rem] tablet_view_lg:text-4xl tablet_view_lg:mb-20 desktop_view_sm:-mb-[2rem] desktop_view_sm:text-[1.5rem] desktop_view_sm:-mt-[2rem] desktop_view_sm:mt-4" >
        Coming Soon.
       </h2>
       <!-- Form and input/button begin-->
       <div class="z-10 p-8 shadow-lg w-full max-w-md flex flex-col justify-center items-center tablet_view_lg:ml-12 tablet_view_lg:max-w-xl mobile_view:mt-16 desktop_view_sm:mt-[5rem]">
        <h2 class="inline-block tablet_view:text-[1.6rem] tablet_view:ml-24 tablet_view_lg:text-[2.2rem] desktop_view_sm:text-[1.5rem] desktop_view_sm:ml-14 font-semibold whitespace-nowrap text-white mb-6 border-primary-color border-b-2">
          Keep in touch as Nature Renew Develops!
        </h2>
        <form class="flex justify-center items-center tablet_view:ml-20 desktop_view_lg:ml-14" action="#" method="POST">
            <input 
            placeholder="Enter Your Email" 
            type="email" id="email" 
            name="email" 
            required 
            class="block w-full px-4 py-2 border-2 tablet_view:w-[15rem] tablet_view_lg:w-[20rem] text-white placeholder:text-white tablet_view:text-[1.5rem] desktop_view_sm:text-[1.5rem] desktop_view_sm:w-[14rem] tablet_view_lg:text-[1.8rem] bg-transparent bg-white-to-transparent border-primary-color shadow-sm focus:outline-none text-sm"/>
            <button type="submit" class="w-full tablet_view_lg:w-[20rem] whitespace-nowrap text-[1rem] mobile_view:px-4 py-2 ml-2 bg-primary-color tablet_view:text-[1.5rem] tablet_view_lg:text-[1.8rem] desktop_view_sm:w-[15rem] desktop_view_lg:w-[13rem] desktop_view_sm:text-[1.4rem] text-white font-semibold shadow-sm">
              Recieve Updates 
            </button> 
        </form>
       </div>
       <!-- Form and input/button end-->
    </div>
</header>