<header class="hero-section">
    <picture class="hero-image">
        <source srcset="assets/images/headerImg/pexels-damodigital-1310044.webp" type="image/webp">
        <source srcset="assets/images/headerImg/pexels-damodigital-1310044.png" type="image/png">
        <source srcset="assets/images/headerImg/pexels-damodigital-1310044.jpg" type="image/jpg">
        <img src="assets/images/headerImg/pexels-damodigital-1310044.png" alt="Overhead view of blue ocean waves over rocks">
    </picture>
    <div class="hero-content  flex flex-col m ">
       <strong class=" relative justify-center z-10 ml-9 mt-10 md:mt-20 ">
            <span class="block text-5xl md:text-[5rem] md:ml-10 xl:ml-40 font-thin text-white mt-4 lg:text-[8rem] xl:text-7xl ">Made by</span>
            <span class="inline-block text-5xl md:text-[5rem] lg:text-[8rem] xl:text-7xl md:ml-10 xl:ml-40 font-thin text-white mb-4 border-b-8 border-primary-color ">the Earth</span> 
            <span class="block text-5xl md:text-[5rem] lg:text-[8rem] xl:text-7xl md:ml-10 xl:ml-40 font-thin text-white mt-4">Made for</span>
            <span class="inline-block text-5xl md:text-[5rem] lg:text-[8rem] xl:text-7xl xl:ml-40 md:ml-10 font-thin text-white mb-4 border-b-8 border-primary-color">Us</span>
       </strong>
       <span class=" z-10 flex justify-center text-[2.8rem] md:text-[4.5rem] lg:text-9xl xl:text-8xl lg:mt-20 text-white mt-4 font-serif">
            Nature New
       </span>
       <h2 class="text-white mx-auto z-10 text-xl lg:text-5xl  md:text-[2.5rem] xl:text-[2rem] xl:mt-4">Coming Soon.</h2>
       <div class="z-10 m-8 md:p-0 block md:w-4/5 md:mx-auto shadow-lg  block">
        
      
        <h2 class="text-xl lg:text-4xl font-semibold xl:w-1/2 xl:mx-auto text-white text-center border-primary-color border-b-2 md:pt-12 xl:pt-2">
          Subscribe to Our Newsletter
         </h2>
       
        <form [formGroup]="newsLetterForm" (ngSubmit)="onSubmit()"  class="p-4 xl:w-1/2 xl:mx-auto" action="#" method="POST">

          <div class="mb-3">
            <label for="name" class="block text-sm font-medium text-gray-700"></label>
            
            <input formControlName="name" maxLength="50" placeholder="Name" type="text" id="name"  required 
                   class="block w-full px-3 py-2 border-2 border-primary-color bg-transparent bg-white-to-transparent lg:h-[64px] lg:placeholder:text-2xl placeholder:text-white text-white shadow-sm focus:outline-none text-2xl" >
                   @if(isSubmitted && name!.invalid){
                      @if(name!.hasError('required')){
                        <span class="text-red-500 text-sm"> Name is Required</span>
                      }
                      @else if(name!.hasError['name']){
                        <span class="text-red-500 text-sm"> Name must be between 2 and 50 characters long</span>
                      }
                   }
                   
          </div> 

          <div class="mb-3">
            <label for="email" class="block text-sm font-medium text-gray-700"></label>
            <input formControlName="email" placeholder="Email" type="email" name="email" required
                   class="mt-1 block w-full px-3 py-2 border-2 border-primary-color bg-transparent bg-white-to-transparent lg:h-[64px] lg:placeholder:text-2xl placeholder:text-white text-white bg-transparent shadow-sm focus:outline-none text-2xl" >
                   @if(isSubmitted && email!.errors){
                    @if(email!.errors['required']){
                      <span class="text-red-500 text-sm"> Email is Required</span>
                    }
                    @if(email!.errors['email']){
                      <span class="text-red-500 text-sm"> Invalid Email</span>
                    }
                 }
                
            </div>

            <button type="submit" 
              class="w-full px-4 py-2 bg-primary-color lg:h-[64px] lg:text-3xl text-white font-semibold shadow-sm hover:bg-primary-color-hover focus:outline-none
                focus:ring-2 focus:ring-offset-2 focus:ring-primary-color-600 "
              >
              Subscribe
            </button>
          
        </form>
        <span class=" block text-white font-bold flex justify-center items-center mt-auto mb-8 h-auto animate-pulse xl:hidden"> Learn More</span>
      </div>
    </div>