.info-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1rem;
    justify-content: space-evenly;
    background: black;
    z-index: 0;
}

.faq{
    border-radius: 0;
   /* border-bottom: 1px solid white;*/
    background-color: #010101;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(150, 150, 150,0.2));
    border-radius: 1rem;
    padding-bottom: 3rem;
    margin: 1.5rem;
    font-family: serif;
    font-weight: thin;
}

mat-expansion-panel{
    
    margin: 0 !important;
}

.faq:last-child{
    border-bottom: none;
    align-items: center;
    /* padding-bottom: .3rem; */
}

.faq_title{
    font-size: 1.3rem;
    font-style: italic;
    padding-left: 1rem;
}

.faq p{
    font-size: .9rem;
    padding: .5rem;
}

/*tablet_view*/
@media only screen and (min-width: 700px) {
    .faq_title{
        font-size: 1.8rem;
    }
    .faq p {
        font-size: 1.56rem;
    }
}
/*tablet_view_lg*/
@media only screen and (min-width: 1000px) {
    .faq_title{
        font-size: 2rem;
    }
    .faq p{
        font-size: 1.8rem;
        letter-spacing: .08rem;
    }
}

/*tablet_view_md*/
@media only screen and (min-width: 800px) {
    .faq_title{
        font-size: 2rem;
        margin: .5rem;
    }
    .faq p{
        font-size: 1.8rem;
        /* letter-spacing: .08rem; */
    }
}